@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 80vw;
}

.panel {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;

  border-radius: 50px;
  cursor: pointer;
  color: aliceblue;
  /* set width of flex */
  flex: 0.5;
  margin: 0.8rem;
  position: relative;
  transition: all 0.5s ease-in;
}

.panel:hover {
  box-shadow: 3px 5px 8px rgba(24, 153, 170, 0.808);
}

.panel h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 300;
  line-height: 1.5;
  position: absolute;
  bottom: 10%;
  left: 10%;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}
.panel h3 span {
  color: rgb(241, 112, 65);
  display: block;
}

.panel.active {
  flex: 5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.card-one {
  background-image: url("./images/krists-luhaers-DSB1MZWsGco-unsplash.jpg");
}
.card-two {
  background-image: linear-gradient(
      rgba(39, 39, 39, 0.315),
      rgba(39, 39, 39, 0.199)
    ),
    url("./images/link-hoang-UoqAR2pOxMo-unsplash.jpg");
}
.card-three {
  background-image: linear-gradient(
      rgba(39, 39, 39, 0.315),
      rgba(39, 39, 39, 0.466)
    ),
    url("./images/marvin-meyer-2SDjvx5jEZQ-unsplash.jpg");
}
.card-four {
  background-image: linear-gradient(
      rgba(39, 39, 39, 0.315),
      rgba(39, 39, 39, 0.199)
    ),
    url("./images/mevlut-sahin-FevvUdyk-oE-unsplash.jpg");
}
.card-five {
  background-image: linear-gradient(
      rgba(39, 39, 39, 0.315),
      rgba(39, 39, 39, 0.199)
    ),
    url("./images/pexels-freestocksorg-190407.jpg");
}

@media (max-width: 520px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
